.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 36%;
    font-weight: bolder;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}


form
{
    text-align: center;
    align-items:center;
    justify-content: center;  
}

form
{
    text-align: center;
    align-items:center;
    justify-content: center;  
}

h1
{
    font-size: 54px;
    color:black;
}

input
{
    width: 420px;
    border-radius: 12px;
    text-indent: 45px;
    height: 45px;
    font-size: larger; 
}

button
{
    width: 210px;
    height: 36px;
    border-radius: 12px;
    background: transparent;
    color: black;
    font-size: 18px;  
}