body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom, #0077b6 , #00b4d8,#fdfefd);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }

h2 {
    color: #333;
    }

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    }

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    }

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

input[type="submit"] {
    background-color: #00b4d8;
    color: #fff;
    cursor: pointer;
    border-radius: 21px;
    width: 45%;
    }

input[type="submit"]:hover {
    background-color:  #0077b6;
    }

.toggle-password {
    cursor: pointer;
    }

a {
    color: #3498db;
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    }
